.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 92px;
  flex-grow: 1;
  background-color: $bg;
  //flex: 1 1 auto;
}

.container {
  @include size-m-w(1140px, auto);
  @extend %flex;
  margin: 0 auto;
}

h2 {
  @include font-setting("Aleo", normal, 400, 33px, 40px, 0.1em, $white);
  text-transform: capitalize;

  @media screen and (min-width: 576px) {
    font-size: 36px;
  }
}

h3 {
  @include font-setting("Josefin Sans", normal, 400, 20px, 28px, 0.1em, $white);
  text-transform: uppercase;
}

.text-holder {
  &.body {
    p {
      @include font-setting(
        "Josefin Sans",
        normal,
        300,
        16px,
        28px,
        0.1em,
        $white
      );
    }
  }
}

.logo-link {
  @include font-setting("Josefin Sans", normal, 700, 24px, 28px, 0.1em, $white);
  text-transform: uppercase;
}

img {
  width: 100%;
}

.btn {
  @include font-setting("Aleo", normal, 400, 16px, 20px, 0.07em, $white);
  text-align: center;
  text-transform: uppercase;

  display: inline-block;
  @include size(213px, 60px);
  padding: 20px 0;
  background-color: $accent;
}
