@mixin font-setting($f-f, $f-st, $f-w, $f-sz, $l-h, $l-s, $f-c) {
    font-family: $f-f;
    font-style: $f-st;
    font-weight: $f-w;
    font-size: $f-sz;
    line-height: $l-h;
    letter-spacing: $l-s;
    color: $f-c;
  }
  
  @mixin size($w, $h) {
    width: $w;
    height: $h;
  }
  
  @mixin size-m-w($m-w, $h) {
    max-width: $m-w;
    height: $h;
  }
  
  @mixin title {
    @include size-m-w;
    @include font-setting;
  
    @extend %flex;
  }
  